{% extends 'base.html.twig' %}

{% block title %}Ajouter un Patient{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-screen bg-gray-900">
    <div class="max-w-4xl w-full p-6 bg-gray-700 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold text-center text-white mb-6">Ajouter un Patient</h2>

        {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
        
        <div class="mb-4">
            {{ form_row(form.username, {
                'attr': {
                    'class': 'w-full p-4 bg-gray-800 text-gray-200 border border-gray-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300',
                    'placeholder': 'Nom d’utilisateur'
                }
            }) }}
        </div>
        
        <div class="mb-4">
            {{ form_row(form.email, {
                'attr': {
                    'class': 'w-full p-4 bg-gray-800 text-gray-200 border border-gray-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300',
                    'placeholder': 'Adresse e-mail'
                }
            }) }}
        </div>
        
        <div class="mb-4">
            {{ form_row(form.password, {
                'attr': {
                    'class': 'w-full p-4 bg-gray-800 text-gray-200 border border-gray-600 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300',
                    'placeholder': 'Mot de passe'
                }
            }) }}
        </div>

        <div class="flex justify-center">
            <button type="submit" class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition duration-300 ease-in-out shadow-lg transform hover:scale-105">
                Ajouter
            </button>
        </div>
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
